@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
 }

 :root {
    --primary-text-color: #cadcea;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
 }

 body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
    background-color: rgb(0, 0, 0);
    
 }

 h1 {
    font-size: 3rem;
 }

 h2 {
font-size: 2rem;
 }

 h3 {
    font-size: 1.5rem;
 }

 p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
 }

 a {
    text-decoration: none;
    display: inline-block;
 }

 ul {
   list-style: none;
 }


 /*Utility classes*/

 .small-bold-text {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;   
 }

.container {
    max-width: 1150px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
    
    
}

.flex {
   display: flex;
   padding: 10px;
   
}

.hover-link {
   color: var(--primary-text-color);
   transition: 0.2s ease-out;

}

.hover-link:hover {
   font-weight: 300;
   color: brown;
}



/*------------------ Nav Bar Section--------------------- */

.main-nav  {
   
   margin-top: 0px;
   font-weight: bolder;
   font-size: large;
   justify-content: right;
   max-height: fit-content;
   position: relative;
   

}

.company-logo img {
width: 400px;
height: 250px;
justify-content: center;
margin-left: 15px;
padding-left: 50px;
}

.nav-links {
   flex-basis: 700px;
   
}

.nav-links ul {
   justify-content: right;
   gap: 30px;
   
}

.nav-toggle {     
      display: none;

}

/* Header Section */

header {
   padding: 50px var(--padding-inline-section) 0;
}

.header-section {
   justify-content: center;
   gap: 70px;
}

.header-left {
max-width: 35vw;
}

.sharma{

   width: 115%;
   position: relative;
   min-height: 100px;
   background: whitesmoke;
   background: url(./media/Brush.png);
   background-repeat: no-repeat;
   background-position: center;
}
.sharma-text {
   position: relative;
   top: 20px;
   left: 20px;
   right: 50px;
   color: black;
   text-align: justify;
}  

.header-left h1 {
   margin-top: 5px;
}

.header-right img {

   width: 200px;
   height: 170px;
}

/* Companies Section */
.compaies-header {
   text-align: center;
   font-size: larger;
   font-weight: bolder;
   margin-block: 50px;
   color: rgb(45, 18, 70);
}

.logos {

   justify-content: space-evenly;
   flex-wrap: wrap;
}

.logo {

   height: 100px;
}

/* About Me */

.underline_2 {
   width: 100%;
   height: 3px;
   background: linear-gradient(to right, #ff007f, #7303c0, #1f8cfd);
   margin: 10px auto 20px auto;
}

.big-feature-section {
padding: 30px var(--padding-inline-section) 0;


}

.big-feature-container {
   gap: 60px;
   padding: 20px; 
}

.feature-img img {
   width: 115%;
   min-height: 200px;;
   
}

.feature-desc {
   flex-direction: column;
   align-items: flex-start;
}

/* Paragraph Styling */
.feature-desc p {
   font-size: 1.4rem;
   line-height: 1.8;
   animation: fadeIn 2s ease-in-out;
}

.transition {
   color: red;
}

.Post-graduation {
   color: yellow;
}

.cloud{
   color: darkorange;
}

.entry-level{
   color: rgb(15, 215, 15);
}

.passion{
   color: rgb(207, 80, 226);
}

.copied {
   gap: 30px;
   align-items: center;
}

.zoom-img {
   width: 35px;
   overflow: hidden;
 }
 
 .zoom-img img {
   width: 100%;
   aspect-ratio: 1 / 1;
   object-fit: cover;
   transition: all .3s ease;
 }
 
 .zoom-img img:hover {
   transform: scale(1.5);
 }

/* Education......................................................*/

.education-section {
   text-align: center;
   padding: 30px 0;
}

.education-heading {
   font-size: 50px;
   margin: 0;
   color: white;
}

.underline {
   width: 350px;
   height: 3px;
   background: linear-gradient(to right, #ff007f, #7303c0, #1f8cfd);
   margin: 10px auto 20px auto;
}

.container_2 {
   display: flex;
   gap: 45px;
   padding: 20px;
   justify-content: center;
   flex-wrap: wrap; /* Make cards responsive */
}

.card {
   background-color: #ffdc73; /* Card background color */
   border-radius: 10px;
   overflow: hidden;
   width: 480px; /* Set fixed width for uniformity */
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   text-align: center;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
   transform: scale(1.05);
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card img {
   width: 100%;
   height: 250px; /* Adjust height as needed */
   object-fit: cover;
}

.card-content {
   padding: 15px;
}

.card-content h3 {
   margin: 10px 0;
   font-size: 18px;
   color: #333;
}

.card-content p {
   margin: 0;
   font-size: 16px;
   color: #333;
   line-height: 1.5;
}

/* Skills Section */

.skills-section {
   text-align: center;
   padding: 50px 20px;
 }
 
 .skills-section h2 {
   font-size: 2.5rem;
   color: #fdfdfd;
 }
 
 .skills-section h2 span {
   color: #fbc02d; /* Highlight color for "Abilities" */
 }
 
 .skills-grid-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
   gap: 20px;
   margin-top: 30px;
 }
 
 .skill-card {
   background: #1a1a2e;
   border-radius: 10px;
   padding: 20px;
   text-align: center;
   transition: transform 0.3s, box-shadow 0.3s;
 }
 
 .skill-card:hover {
   transform: scale(1.05);
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
 }
 
 .skill-card img {
   max-width: 90px;
   margin-bottom: 15px;
 }
 
 .skill-card p {
   font-size: 1.1rem;
   margin: 0;
 }

 /*----------------------------- Experience----------------------------------------  */

 .experience-section {
   text-align: center;
   padding: 30px 0;
}

.experience-heading {
   font-size: 50px;
   margin: 0;
   color: white;
}

.timeline{
   position: relative;
   max-width: 1500px;
   margin: 100px auto;
   
   
}

.container-exp{
   padding: 10px 50px;
   position: relative;
   width: 50%;
   /* background: rgba(0, 0, 0, 0.3); */
   animation: movedown 1s linear forwards;
   opacity: 0;

}

@keyframes movedown {
   0%{
       opacity: 1;
       transform: translateY(-30px);
   }
   100%{
       opacity: 1;
       transform: translateY(0px);
   }
}

.container-exp:nth-child(1) {
   animation-delay: 0s;
}
.container-exp:nth-child(2) {
   animation-delay: 2.1s;
}
.container-exp:nth-child(3) {
   animation-delay: 4.2s;
}

.text-box{
   padding: 5px 30px;
   background: #fff;
   position: relative;
   border-radius: 6px;
   font-size: 15px;

}

.left-container-exp {
   left: 0;
   
}

.right-container-exp {
   left: 50%;

}

.container-exp img {
   position: absolute;
   width: 45px;
   border-radius: 50%;
   right: -20px;
   top: 32px;
   z-index: 10;
}

.right-container-exp img {
   left: -20px;
}

.timeline::after {
   content: '';
   position: absolute;
   width: 6px;
   height: 100%;
   background: #fff;
   top: 0;
   left: 50%;
   margin-left: -3px;
   z-index: -1 ;
   animation: moveline 6s linear forwards;
}

/* Keyframes */

@keyframes moveline {
   0%{
       height: 0%;
   }
   100%{
       height: 100%;
   }
}

.text-box{
   font-weight: 400;
}

.text-box small {
   display: inline-block ;
   margin-bottom: 15px;
   font-size: large;
}

.left-container-exp-arrow {
   height: 0;
   width: 0;
   position: absolute;
   top: 28px;
   z-index: -1;
   border-top: 15px solid transparent;
   border-bottom: 15px solid transparent;
   border-left: 15px solid white;
   right: -15px;
}

.right-container-exp-arrow {
   height: 0;
   width: 0;
   position: absolute;
   top: 28px;
   z-index: -1;
   border-top: 15px solid transparent;
   border-bottom: 15px solid transparent;
   border-right: 15px solid white;
   left: -15px;
}

@media screen  and (max-width:600px) {      
   .timeline{
       margin: 50px auto;
   }
   .timeline::after{
       left: 31px
   }
   .container-exp{
       width: 100%;
       padding-left: 80px;
       padding-right: 25px;

   }
   .text-box {
       font-size: 10px;
   }
   .text-box small {
       margin-bottom: 10px;
   }
   .right-container-exp {
       left: 0;
   }

   .left-container-exp img, .right-container-exp img {
       left: 10px;
   }

   .left-container-exp-arrow, .right-container-exp-arrow{
       border-right: 15px solid #fff;
       border-left: 0;
       left: -15px;
   }
}

.virtual {
   color: black;
}

/* --------------Publication section --------------- */

.publication-section {
   padding: 20px;
   max-width: 800px;
   margin: auto;
   text-align: center;
   animation: fadeIn 1.5s ease-in-out;
}


/* Paragraph Styling */
.publication-section p {
   font-size: 1.4rem;
   line-height: 2.2;
   animation: fadeIn 2s ease-in-out;
}

/* Link Styling with Hover Effect */
.publication-section a {
   color: #5da9e9;
   text-decoration: none;
   font-weight: bold;
   transition: color 0.3s, transform 0.3s;
}

.publication-section a:hover {
   color: #3ea0e5;
   transform: scale(1.1);
   text-decoration: underline;
}

/* Image Styling with Hover Effect */
.publication-section img {
   margin-top: 20px;
   width: 100px;
   transition: transform 0.5s ease, filter 0.5s ease;
}

.publication-section img:hover {
   transform: scale(1.2) rotate(10deg);
   filter: brightness(1.2);
}

/* Keyframe Animations */
@keyframes fadeIn {
   from {
       opacity: 0;
   }
   to {
       opacity: 1;
   }
}

@keyframes slideIn {
   from {
       transform: translateY(-30px);
       opacity: 0;
   }
   to {
       transform: translateY(0);
       opacity: 1;
   }
}
.higlighted {
   color:  rgb(207, 80, 226);
}

/* ------------Subfooter------------ */

.subfooter{
   background-color: rgb(207, 80, 226);
   padding: var(--padding-inline-section);
   display: flex;
   flex-wrap: wrap;
}

.subfooter-container{
   justify-content: right;
   gap: 35px;
}

